/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    font-family: 'Happy Monkey', cursive;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}



#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

/* #particles-js{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
} */

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.box {
    background-color: rgba(26, 26, 30, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border: 2px solid #C8B00D;
    color: #FBDD11;
    border-radius: 10px;
    width: 40%;
}

.box h1{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
}

.box p{
    font-size: 30px;
}

.box label{
    font-size: 17px;
}

input[type=text], select {
    width: 100%;
    padding: 8px 16px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #adafa1;
    font-family: 'Happy Monkey', cursive;
}

input[type=button] {
    width: 100%;
    background-color: #EBCD01;
    color: #2A2A2E;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Happy Monkey', cursive;
    -webkit-appearance: none;
}

input[type=button]:hover {
    background-color: #bca400;
    font-family: 'Happy Monkey', cursive;
    -webkit-appearance: none;
}


img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #EBCD01;
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


#balance {
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

#response {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}




@media (max-width:901px) {
    footer {
        font-size: 14px;
    }

    .box {
        width: 60%;
    }
}

@media (max-width:480px) {
    footer {
        font-size: 11px;
    }

    .box {
        width: 80%;
        padding: 20px;
        font-size: 12px;
    }

    img {
        width: 100%;
    }

    .box h1{
        font-size: 25px;
        margin-bottom: 20px;
    }


    .box label{
        font-size: 12px;
    }
}